@font-face {
  font-family: "Coolvetica";
  src: url("./coolvetica\ condensed\ rg.otf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #eaedef;
  --backround: #080c11;
  --primary: #92b8e0;
  --secondary: #135495;
  --accent: #1a8bfd;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Coolvetica";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backround);
  color: var(--text);
  gap: 1.5rem;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.weather-card {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  border-radius: 32px;
  border: solid var(--accent) 5px;
  color: var(--secondary);
}

.weather-data {
  display: flex;
  gap: 16px;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  color: black;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.section-forecast {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 1.25rem;
  border-radius: 1rem;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gif-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 20vw;
}
